h1 {
    color: magenta;
}
img {
    width: 700px;
}
#thirdDiv {
    height: 300px;
    width: 400px;
    background-color: white;
    padding: 20px;
    border: 5px solid withe;
}
#spanId {
    font-size: 18px;
    margin: 30px;
}
.divClass {
    background: white
}