h1 {
    color: magenta;
}
img {
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

body {
    font-family: sans-serif;
    color: rgb(34, 34, 34)
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


#thirdDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    position: relative;
    width: 750px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
}

#spanId {
    font-size: 18px;
    margin: 30px;
}

.divClassA {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divClassB {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  