h1 {
    color: magenta;
}
img {
    width: 700px;
}
#thirdDiv {
    height: 300px;
    width: 600px;
    background-color: white;
    padding: 10px;
    border: 5px solid withe;
}
#spanId {
    font-size: 18px;
    margin: 30px;
    font: 
}
.divClass {
    background: rgb(241, 238, 238)
}
  